# patches, diffs, merges
*.patch
interdiff.txt
*.orig
*.bak

# PHPStorm
.idea/*

# Ignore library
**/siel/

# Shared files
acumulus/license.txt
acumulus/licentie-nl.pdf
acumulus/leesmij.txt

# Resulting zip
*.zip
