.form-element {
    margin-bottom: 1em;
}

h2 {
    margin-top: 3em;
}

form h2:first-child {
    margin-top: 1em;
}

label, .label {
    display: inline-block;
    width: 12em;
}

.required {
    margin-left: 0.5em;
}

.desc {
    margin-top: 0.1em;
    margin-left: 12em; /* should be the same as width of label. */
    font-style: italic;
}

.form-element-radios, .form-element-checkboxes {
    display: inline-block;
    width: auto;
    vertical-align: top;
}

.form-element-radios input, .form-element-checkboxes input {
    float: left;
    clear: left;
    margin-bottom: 0.3em;
}

.form-element-radios label, .form-element-checkboxes label {
    float: left;
    width: auto;
    margin-top: 0.2em;
}
